/* Font imports */
@import "tailwindcss";
@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Hauora";
  src: url("/fonts/Hauora-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

:root {
  --background: #f7f7f8;
  --background-dark: #111827;
  --primary: #030712;
  --dark-primary: #f3f4f6;
  --accent: #4353ff;
  --font-hauora: "Hauora", sans-serif;
}
@theme {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-accent: var(--accent);
  --font-hauora: var(--font-hauora);
  --color-primary: var(--primary);
  --color-dark-primary: var(--dark-primary);
}
@custom-variant dark (&:where(.dark, .dark *));
@layer components {
  .heading {
    @apply text-[42px] font-extrabold text-gray-900 dark:text-white;
  }

  .sub-heading {
    @apply text-[14px] font-normal text-gray-600 dark:text-gray-400;
  }

  /* Responsive styles */
  @media (min-width: 1362px) {
    .heading {
      @apply text-[62px] font-bold text-gray-900 dark:text-white;
    }
    .sub-heading {
      @apply text-[16px] font-normal text-gray-600 dark:text-gray-400;
    }
  }

  @media (min-width: 1920px) {
    .heading {
      @apply text-[62px] font-bold text-gray-900 dark:text-white;
    }
    .sub-heading {
      @apply text-[16px] font-normal text-gray-600 dark:text-gray-400;
    }
  }
}

body {
  font-family: var(--font-hauora);
}
